@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  background-image: linear-gradient(#61825d, #151e2d);
  color: #EFEFEF;
  font-family: 'Open Sans', serif;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 30px; }
  body p {
    font-size: 0.7rem; }
  body ul {
    list-style: none; }
  body h3 {
    font-size: 1.3rem; }

.grilla {
  display: grid; }
  .grilla .header {
    grid-area: header;
    position: fixed;}
  .grilla main {
    grid-area: main;
    margin-top: 190px;
    margin-bottom: 50px; }
  .grilla footer {
    grid-area: footer; }

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .header .divMenu {
    justify-content: space-between; }
    .header .divMenu .botonMenu {
      width: auto;
      height: 60px;
      align-self: center; }
  .header .navbar-nav {
    width: max-content;
    text-align: center;
    float: none;
    margin-right: 0;
    padding: 0;
    border: none;
    line-height: 0;
    background-color: inherit; }
    .header .navbar-nav .navbar-light .nav-item {
      border: none;
      width: 100%;
      padding-left: 0; }

.navbar-light #navbarNav .nav-item .menuPrimario {
  color: #EFEFEF; }

.navbar-light #navbarNav .nav-item .menuPrimario:hover {
  color: #2b282a; }

.navbar-light #navbarNav .nav-item .menuSecundario {
  color: #EFEFEF; }

.navbar-light #navbarNav .nav-item .menuSecundario:hover {
  color: #2b282a; }

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #EFEFEF;
  height: 20vh; }
  footer p {
    font-size: 0.8rem; }
  footer ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    font-size: 1.4rem;
    padding-left: 0; }
    footer ul li a {
      color: #EFEFEF; }
    footer ul li a:hover {
      color: #2b282a; }

/* INDEX */
.headIndex, .headDisco, .headContacto {
  background-image: linear-gradient(#151e2d, #587657); }

.footerIndex, .footerDisco, .footerContacto {
  background-image: #151e2d; }

.header ul ul, #menuContacto ul ul {
  background-color: #cc00316b; }

#textoIndex {
  margin-top: 50px; }

.imagenIndex {
  margin-top: 100px; }

.tituloIndex {
  background-image: radial-gradient(#4f6a51, #111312);
  box-shadow: 0px 1px 15px 0px black; }

/* HISTORIA */
.headHistoria, .bandas .headBandas {
  background-color: #011a39d4;
  box-shadow: 0px 0px 15px 6px black; }

.footerHistoria, .bandas .footerBandas {
  background-color: #C13C3C;
  box-shadow: 0px 0px 15px 6px black; }

.historia {
  background-image: linear-gradient(#C13C3C, #011a39d4);
  color: #EFEFEF; }

.mainHistoria {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  .mainHistoria h1 {
    padding: 20px;
    text-align: center;
    font-weight: 500; }
  .mainHistoria p {
    padding: 15px 10px 20px 25px; }

.footerHistoria ul li a, .bandas .footerBandas ul li a {
  color: #EFEFEF; }

.footerHistoria ul li a:hover, .bandas .footerBandas ul li a:hover {
  color: #2b282a; }

/* DISCO */
#imagenDisco img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px black; }

.footerDisco {
  color: #EFEFEF; }

.discos img {
  box-shadow: 2px 2px 9px black; }

.listaTexto .redes a {
  color: #4d1754d1; }

.listaTexto .redes a:hover {
  color: #fbeafdd1; }

/* BANDAS */
.bandas {
  background-image: linear-gradient(#C13C3C, #011a39d4);
  color: #EFEFEF; }
  .bandas #imagen-bandas {
    width: 100%; }
  .bandas .bandasTexto {
    text-align: center; }
    .bandas .bandasTexto h2 {
      padding-bottom: 15px; }
    .bandas .bandasTexto ul {
      padding-left: 0; }
    .bandas .bandasTexto ul li a {
      text-decoration: none;
      color: #EFEFEF; }
    .bandas .bandasTexto ul li a:hover {
      color: #262525; }
  .bandas .borders {
    padding: 50px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
    box-shadow: 4px 4px 9px 4px #000000a6; }
    .bandas .borders h2 {
      padding-top: 10px; }
  .bandas .oscuro {
    background-color: #171616d9;
    color: #EFEFEF; }
  .bandas .claroDos {
    background-color: transparent;
    color: #EFEFEF; }
  .bandas .bandas-desc div h2, .bandas .bandas-desc div p {
    margin-bottom: 35px; }
  .bandas .footerBandas ul li a {
    color: #EFEFEF; }
  .bandas .footerBandas ul li a:hover {
    color: #2b282a; }

/* CONTACTO */
.mainContacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%; }
  .mainContacto #imgContacto {
    box-shadow: 0px 0px 10px black; }
  .mainContacto #formulario {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
    .mainContacto #formulario #radio {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      margin: 15px;
      width: 20vw; }
      .mainContacto #formulario #radio p {
        margin-top: -7px;
        margin-left: 5px; }
    .mainContacto #formulario .data {
      padding: 10px;
      margin-bottom: 10px;
      font-size: 0.8rem; }
    .mainContacto #formulario .data:focus {
      font-size: 0.6rem; }
    .mainContacto #formulario .botones {
      margin-top: 20px;
      font-size: 0.8rem; }
    .mainContacto #formulario textarea {
      padding: 10px;
      font-size: 0.8rem;
      width: 100%; }
    .mainContacto #formulario textarea:focus {
      font-size: 0.6rem;
      width: 100%; }

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  p {
    font-size: 0.5rem; }
  h3 {
    font-size: 1.1rem; }
  .grilla {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
 "main"
 "footer"; }
  .grilla .header {
    grid-area: header;
    padding-top: 30px; }
  .grilla main {
    grid-area: main;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 30px; }
  .grilla footer {
    grid-area: footer;
    font-size: 0.5rem; }
  .grilla footer p {
    font-size: 0.8rem; }
  .header #lista-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .header #lista-menu a {
    font-size: 2vh; }
  .logoCaja {
    align-items: center; }
  .logoCaja img {
    height: 20vh; }
  /* INDEX */
  #main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr auto 2fr;
    grid-template-areas: "titulo"
 "imagen"
 "texto"; }
  #main #titulo {
    grid-area: titulo;
    padding: 5%; }
  #main #titulo h1 {
    height: 100%;
    text-align: center; }
  #main .imagen {
    grid-area: imagen; }
  #main #texto {
    grid-area: texto;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    align-self: center; }
  /* HISTORIA */
  .grilla main {
    grid-area: main; }
  .mainHistoria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "imagen" 
 "texto"; }
  .mainHistoria .imagen {
    grid-area: imagen;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-evenly;
    overflow: hidden; }
  .mainHistoria #texto {
    grid-area: texto;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    align-self: center;
    margin-right: 40px;
    margin-left: 20px; }
  .mainHistoria .imagen img {
    height: 120px; }
  /* DISCOGRAFÍA */
  .mainDisco {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagen"
 "lista";
    margin-top: 50px;
    margin-bottom: 0; }
  .mainDisco #imagenDisco {
    grid-area: imagen; }
  .mainDisco .listaDisco {
    grid-area: lista; }
  .listaDisco {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo"
 "lista";
    margin-right: 0px; }
  .lista {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "disco"; }
  .listaDisco .tituloDisco {
    grid-area: titulo;
    justify-self: center;
    margin: 50px 0; }
  .listaDisco .lista {
    grid-area: lista;
    padding-right: 32px; }
  .lista #discos {
    grid-area: disco; }
  .discos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "tapa texto"
 "redes texto";
    padding: 20px;
    justify-items: center;
    margin: 20px 20px;
    box-shadow: 0px 0px 10px black; }
  .bis {
    background-color: #c5cea06b; }
  .discos .temas {
    display: none; }
  .lista .tapa {
    grid-area: tapa;
    width: 75%; }
  .lista .listaTexto {
    grid-area: texto;
    text-align: center; }
  .lista .temas li {
    font-size: 0.7rem; }
  .lista .redes {
    grid-area: redes;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
    font-size: 1.4rem;
    letter-spacing: 20px; }
  /* BANDAS */
  .bandasTexto {
    margin-top: 50px;
    margin-bottom: 50px; }
  /* CONTACTO */
  .mainContacto {
    flex-flow: column nowrap; }
    .mainContacto #imgContacto {
      width: 100%;
      height: 100%; }
    .mainContacto #formulario .data {
      width: 68vw;
      height: 7vh; }
    .mainContacto #formulario .botones input {
      width: 30vw;
      height: 6vh; } }

@media screen and (min-width: 800px) {
  p {
    font-size: 0.7rem; }
  .grilla {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
 "main"
 "footer"; }
  /* INDEX */
  #main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.3fr auto;
    grid-template-areas: "titulo titulo"
 "imagen texto";
    align-content: center;
    justify-content: space-around;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-bottom: 50px; }
  #main #titulo {
    grid-area: titulo;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px; }
  #main #titulo h1 {
    height: 100%;
    font-size: 2rem; }
  #main .imagen {
    grid-area: imagen;
    width: 90%;
    margin-left: 30px;
    box-shadow: 0px 0px 10px black; }
  #main #texto {
    grid-area: texto;
    margin-right: 40px;
    align-self: center;
    margin-left: 20px; }
  /* HISTORIA */
  .mainHistoria {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "imagen texto";
    align-content: center;
    justify-content: space-around;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px; }
  .mainHistoria .imagen {
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;
    margin-left: 30px;
    justify-content: space-evenly; }
  .mainHistoria .imagen img {
    width: 95%;
    height: 320px; }
  .mainTexto {
    grid-area: texto;
    margin-right: 40px;
    align-self: center;
    margin-left: 20px; }
  /* DISCOGRAFÍA */
  .mainDisco {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagen"
 "lista";
    margin-top: 50px; }
  .mainDisco #imagenDisco {
    grid-area: imagen; }
  .mainDisco .listaDisco {
    grid-area: lista; }
  .listaDisco {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    justify-content: space-between;
    grid-template-areas: "titulo titulo"
 "disco disco";
    margin-right: 40px; }
  .listaDisco .tituloDisco {
    grid-area: titulo;
    justify-self: center;
    margin: 50px 0; }
  .listaDisco .lista {
    grid-area: disco; }
  .lista {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "disco disco"; }
  .lista #discos {
    grid-area: disco; }
  .discos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "tapa texto"
 "redes texto";
    padding: 20px;
    justify-items: center;
    box-shadow: 0px 0px 10px black;
    margin: 5px; }
  .claro {
    background-color: #c5cea06b; }
  .discos .temas {
    display: none; }
  .lista .tapa {
    grid-area: tapa;
    width: 80%; }
  .lista .listaTexto {
    grid-area: texto;
    text-align: center; }
  .lista .temas li {
    font-size: 0.7rem; }
  .lista .redes {
    grid-area: redes;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 200px;
    font-size: 1.8rem;
    letter-spacing: 20px; }
  /* BANDAS */
  .main-bandas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 2fr;
    grid-template-areas: "lista"
 "descripcion";
    margin-top: 50px; }
  .bandas-lista {
    grid-area: lista;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen lista"; }
  #imagen-bandas {
    grid-area: imagen;
    margin-left: 20px;
    box-shadow: 0px 0px 10px black; }
  .bandasTexto {
    grid-area: lista;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 40px; }
  .bandas-desc {
    grid-area: descripcion;
    display: flex;
    flex-flow: column nowrap;
    margin: 50px; }
  /* CONTACTO */
  .mainContacto {
    flex-flow: row nowrap; }
    .mainContacto #imgContacto {
      width: 45%;
      height: 45%;
      float: left; }
    .mainContacto .data {
      width: 25vw; }
    .mainContacto .botones input {
      width: 15vw;
      height: 6vh; } }

@media screen and (max-width: 990px) {
  #textoIndex {
    margin-top: 50px; }
  .nombre {
    font-size: 1.1rem; }
  .divMenu {
    justify-content: space-between; }
    .divMenu .botonMenu {
      width: auto;
      height: 60px;
      align-self: center;
      position: fixed;
      margin-top: 0px;
      background-color: beige;
      right: 1.6em; }
  #navbarNav {
    position: fixed;
    margin-top: 320px; }
    #navbarNav .navbar-nav {
      width: max-content;
      text-align: start;
      float: inline-end;
      margin-right: 2vw;
      padding: 10px;
      border: 1px solid white;
      line-height: 25px;
      background-color: #ffffffb8;
      margin-right: 1.6em; }
      #navbarNav .navbar-nav .nav-item {
        border: 1px solid #0000004f;
        width: 100%;
        padding-left: 10px;
        font-size: 0.9rem;
        font-weight: bold; }
        #navbarNav .navbar-nav .nav-item .menuSecundario, #navbarNav .navbar-nav .nav-item .menuPrimario {
          color: #000000eb; }
        #navbarNav .navbar-nav .nav-item .menuSecundario:hover, #navbarNav .navbar-nav .nav-item .menuPrimario:hover {
          color: #a49595; }
  .navbar-light #navbarNav .borderSec {
    border: 2px solid #EFEFEF;
    letter-spacing: 2px; }
  footer {
    margin-top: 50px; } }

@media screen and (min-width: 990px) {
  .mainHistoria .imagen img {
    width: 80%;
    height: 400px; }
  .divMenu img {
    width: 75%; }
  #navbarNav {
    position: inherit;
    margin-top: 0; } }

@media screen and (min-width: 1500px) {
  p {
    font-size: 1.2rem; }
  a {
    font-size: 1.5rem; }
  h2 {
    font-size: 2rem; }
  .bandasTexto {
    line-height: 50px; } }
